body{
    display: flex;
    flex-direction: column;
    
    background-color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
[onClick] {
    cursor:pointer;
}
h1{
    text-decoration: underline #3eb2bc 2px;
    text-underline-offset: 8px;

}
p{
    text-decoration: underline none;
}
ul {
    list-style: none;
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  
ul li:before {
    content: '✓';
}
input{

    border: #000 solid 1px;
    height: 2em;
    width: 20em;
    border-radius: 32px;
    text-align: center;
}
.MainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 100px;
    width: 40vw;
    min-height:40vh;
    border: #000 solid 1px;
    box-shadow: 10px 10px #3eb2bc;
    border-radius: 20px;
}
.color{
    
}
.Button{
    color: #fff;
    background-color: #3eb2bc;
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: underline none;

    justify-content: center;
    height: 3em;
    width: 20em;
    border-radius: 12px;
    cursor:pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 30px;


}
.button { 
    margin-top: 1em;
    height: 2.2em;
    width: 20em;
    border-radius: 12px;
    background-color: #e5e5e5;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.button:hover{
    background-color: #3eb2bc;
    color: #fff;
}
.notChosen{
    background-color: #e5e5e5;
}


.percent{
    margin-left: 36.5vw;
}
.pointer{
    cursor:pointer
}
.ask{
    width: 100%;
    min-height: 60px;
}